div.colors {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    flex-wrap: wrap;
    position: relative;
}


div.colors > .switch {
    position: absolute;
    top: -100px;
    right: 100px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

div.colors > .switch > .selected-mode {
    color: #E4C460;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: 900;
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, margin 0.3s ease-in-out;
}

@media screen and (max-width: 900px) {
    div.colors {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    div.colors > .switch {
        position: static;
        top: 0;
        right: 0;
        margin: 50px;
    }
}

@media screen and (max-width: 430px) {
    div.colors {
        flex-wrap: nowrap;
    }

}