.not-found {
  text-align: center;
  padding: 2rem;
  font-size: 4rem;
  /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); */
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  /* -webkit-background-clip: text; */
  background-clip: text;
  color: transparent;
  background-size: 15%;
  margin-top: 100px;
}